{% extends "myapp/base.html" %}
{% load static %}


{% block content %}
    {% comment %} {% for product in products %}

        <a href="{% url 'myapp:products_detail' product.id %}"> {{product.name}} </a>
        

    {% endfor %} {% endcomment %}

    
<div class="">
    <main>        
        
        <div class="px-24 py-24 ">
            
            {%for homeimage in homeimages %}
            <!--
                data-imagenumber comes from the backend which is the length of array
            -->
            <div id="imageContainer" class="w-full flex justify-center">
                <img onclick="imageSlide()" data-imagenumber="{{homeImagesCount}}" class="hidden" id="image" src="{{homeimage.image.url}}" alt="" srcset="">
            </div>
                
            {% endfor %}        
        </div>
        
    </main>

</div>
    {% comment %} end of site hero {% endcomment %}

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 xl:grid-cols-6 lg:grid-cols-4  px-20 ">
        {% comment %} card layout start {% endcomment %}
        {% for product in products %}

        <div class="pl-5 pr-5 pb-5 ">

            <a href="{% url 'myapp:products_detail' product.id %}" class="flex flex-col rounded border-2 h-full  border-gray-100 shadow-xl"> 
                
                <div class="">
                    <img src="{{product.image.url}}" class="aspect-square" alt="" srcset="">
                </div>
                
                
                <div class="p-4">
                    <div>
                        <div class="truncate">
                            {{product.name}} 
                        </div>
                        <div> {{product.seller_name}} </div>
                    </div>

                    <div class="flex justify-between">
                        <div class="text-2xl text-green-500">
                                {{product.price}} <sub class="text-sm">SAR</sub>
                        </div>
                        <div class="text-2xl">
                            🛒
                        </div>
                    </div>
                </div>
            </a>


        </div>
        {% endfor %}
    </div>
<script>
    const image = document.getElementById("image");
    
    
    let str = "media/home_images/image1.jpg".slice(0,23)
    console.log(str)
    
    //image.setAttribute("src","{{homeImagesCount}}".slice(0,23)+imageCounter+".jpg")
    
    image.classList = "visible"
    
    /// media/home_images/image1.jpg

    let imageCounter = 1;
    
    const imageSlide =  ()=>{
            // instaed of using array and apprend elements to it we are just editing the source of the image with fixed suffix image<number> 
            //image.setAttribute("src",`/media/home_images/image1.jpg`);
            image.setAttribute("src",`/media/home_images/image${imageCounter}.jpg`);
            console.log(image.getAttribute("src"))
            // compare the counter against the length
            if(imageCounter < image.dataset.imagenumber ){
                imageCounter++;
            }else if (imageCounter >= image.dataset.imagenumber ){
                // rese when reaching the last image 
                imageCounter = 1;
                
            }
            console.log(imageCounter)
    } 
    
    setInterval(imageSlide,3000)
</script>

{% endblock content %}